

<!DOCTYPE html>
  <html lang="en">
  <head>
      <title></title>
      <meta charset="utf-8">
  </head>

<body>
    

<div id="titles">
    <h2>No projects for now.</h2>
    <h4>Soon, I will udate my projects!</h4>
</div>


 <div id="tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="First">Project 1</mat-tab>
        <mat-tab label="Second">Project 2</mat-tab>
        <mat-tab label="Third">Project 3</mat-tab>
    </mat-tab-group>
</div>
</body>
