
<!DOCTYPE html>             <!-- Michael Silva - 301271603 -->
<html lang="en">
    <head>
        
        <meta charset="utf-8">
    </head>

<body>
    

<section id="about">
    

    <div class="h1">
        <h1>About me</h1>
    </div>
    

    <div class="img">

        <img src="../assets/pictures/foto.jpg" alt="foto" height="150" width="150">

    </div>
    

    <div>
        <p>
            Hey, I am Michael Silva! I studied mechanical engineering and right now I'm coursing a diploma in sofware engineering in Toronto, Canada.
        </p>
        </div>
    
        <div>
        <p>
            My purpose is to be able To leverage my engineering background and analytical skills in order to excel in the field of software engineering.
            By applying my problem-solving abilities and technical knowledge acquired as a mechanical engineer, I aim to contribute to the development of
            innovative software solutions that address real-world challenges. My goal is to become a skilled software engineer who can design, develop, and
            optimize software systems, utilizing my expertise in both engineering principles and computer science concepts 
        </p>
        </div>
        <a href="">Check my resume</a>
        <br><br>

</section>
    
</body>
    <!--During my whole life I have been related some how with sales, without persuing this career, I had face many times the challenge
    of selling something. I have sell travel packages, cars, houses, massage products, generators, mattresses and some 
    other things.-->


   
