

<!DOCTYPE html>             <!-- Michael Silva - 301271603 -->
<html lang="en">
    <head>
        
        <meta charset="utf-8">
    </head>

<body>
<div id="form">
<h2><b>Contact me</b></h2>


<form action="post" action="mailto:msilva41@my.centennial.college.ca">
    <fieldset>
        <label for="name"><b>First Name:   </b></label>
        <input type="text" required="required" placeholder="Enter your first name">
        <br><br>

        <label for="last"><b>Last Name:   </b></label>
        <input type="text" required="required" placeholder="Enter your last name">

        <br><br>

        <label for="phone"><b>Phone:      </b></label>
        <input type="tel" required="required" placeholder="Enter your phone number">
        <br><br>

        <label for="email"><b>Email:   </b></label>
        <input type="email" required="required" placeholder="Enter your email">
        <br><br>

        
        <textarea name="comments" id="comments" rows="5" cols="65" required="required" placeholder="Your comments here"></textarea>
            <br><br>

        <input type="submit" value="Submit">

    </fieldset>
</form>
</div>
</body>