.example-spacer {
    flex: 1 1 auto;
  }

  img {
      justify-content: center;
      align-items: center;
      height: 200px;
      margin-left: 40%;
      margin-top: 5%;
  }

  div {
    margin-top: 5%;
  }

  a {
    margin-left: 5%;
  }

  * {
    background-color: #FFFFF3;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    overflow: hidden;
    background-color: #b7ad99;
    margin-right: 5%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #b7ad99;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ffffff;
  }

  