<!-- <p>
  <mat-toolbar>
    <span>Assigment 1</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Personal Portfolio</span>-->
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <title>Assigment_1</title>
      <meta charset="utf-8">
  </head>

<body>

      <img src="../assets/pictures/logo.png" alt="logo">

      <div>
      <ul>
        <nav>
          <li><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="about" routerLinkActive="active">About</a></li>
          <li><a routerLink="proyects" routerLinkActive="active">Projects</a></li>
          <li><a routerLink="services" routerLinkActive="active">Services</a></li>
          <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>          
          
        </nav>
      </ul>
      </div>

  <!--
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

-->
 <!--
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
--> 

<!-- 
<p>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  


    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>

    
  


  </mat-toolbar>
</p>
--> 
<router-outlet></router-outlet>
</body>