<!DOCTYPE html>             <!-- Michael Silva - 301271603 -->
<html lang="en">
    <head>
        
        <meta charset="utf-8">
    </head>

<body>
    

<div id="list">
    <ul>
        <li>Web Development</li>
        <li>Database Admistrator</li>
        <li>Debugging</li>
        <li>Consulting</li>
        <li>General Programming</li>
    </ul>
    
</div>

<p>
    I have experience with SQL, Javascript, HTML, CSS, C# and JAVA.
</p>


<div id="languages">
<mat-chip-listbox aria-label="Dog selection">
    <mat-chip>
      SQL
    </mat-chip>
    <mat-chip color="primary">
      JS
    </mat-chip>
    <mat-chip color="accent">
      HTML
    </mat-chip>
    <mat-chip color="accent">
        CSS
      </mat-chip>
      <mat-chip color="accent">
        C#
      </mat-chip>
      <mat-chip color="accent">
        JAVA
      </mat-chip>
  </mat-chip-listbox>

</div>
</body>
