
<!DOCTYPE html>
  <html lang="en">
  <head>
      <title></title>
      <meta charset="utf-8">
  </head>



<body>
<section id="home">
    <div class="welcome-container">
      <h2>Welcome to my portfolio</h2>
      <p>I'm Michael Silva, a mechanical engineer that decided to switch his career to the IT world!</p>
      <p>On this portfolio, you will find a showcase of my projects, skills and expertise in various programming languages and tools.</p>

      <a href="../proyects" class="cta-button">View Projects</a>
    </div>
  </section>
</body>

<router-outlet></router-outlet>